{% extends "layout.njk" %}

{% block head %}

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
<title>Receitas | Foodfy</title> 


{% endblock %}

 {% block header %} 

    <li><a href="/about">Sobre</li></a>
<strong>
    <li><a href="/recipes">Receitas</li></a>
</strong>

 {% endblock %}

{% block content %}

        <div class="cards">
               
            {% for item in items  %}

                <div id="{{loop.index0}}" class="card">
                    <div class="image__card">
                        <img src="{{item.image}}" alt="Imagem de {{item.title}}">
                    </div>
                    <div class="title__card">
                        <h4>{{item.title}}</h4>
                    </div>
                    <div class="author__recipe">
                        <p>{{item.author}}</p>
                    </div>
                </div>

           {%  endfor %}
         </div>
{#   

        <div class="modal-overlay">
            <div class="modal">
                <div class="close-modal">
                   <span class="material-icons">close</span>
                </div>
                <div class="modal__content">
                <div class="image__modal">
                        <img src="/assets/asinhas.png" alt="">
                </div>
                <div class="title__recipe">
                    <h4>Asinhas de frango ao barbecue</h4>
                </div>
                <div class="author__recipe">
                    <p>por Vania Steroski</p>
                </div>
            </div>
         </div>
        </div> #}
        
        <script src="/scripts.js"></script>

{% endblock %}