{% extends "layout.njk" %}

{% block head %}
<title>Recipes | Foodfy</title> 
{% endblock %}

{% block content %}
      <div class="cards">
            {% for recipe in recipes %}
                    <div class="card item" 
                        onclick="location.href='/recipes/{{recipe.id}}';">
                            <div class="image__card">
                                <img src="{{recipe.image}}" 
                                    alt="Imagem de {{recipe.title}}">
                            </div>
                            <div class="title__card">
                                <h4>{{recipe.title}}</h4>
                            </div>
                            <div class="author__recipe">
                                <p>by {{recipe.chef_name}}</p>
                            </div>
                    </div>
           {%  endfor %}
        </div>
        

{% endblock %}