{% extends "layout.njk" %}

{% block content %}

            
            <div  class="recipe">
                <div class="image__card">
                    <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                </div>
                <div class="title__recipe">
                    <h4>{{recipe.title}}</h4>
                </div>
                <div class="author__recipe">
                    <p>{{recipe.chef_name}}</p>
                </div>
                <div class="section__ingredients">
                    <h3>Ingredientes</h3>
                    <button id="button-hide-ingredients" onclick="hideIngredients()">Esconder</button>
                </div> 
                <div id="ingredients" class="ingredients__list"> 
                    <ul> 
                    
                    {% for ingredients in recipe.ingredients %}
                        
                     <li>{{ingredients}}</li> 
                    {% endfor %}
                       
                    </ul>
                </div>
                <div class="section__preparation">
                    <h3>Instructions</h3>
                    <button id="button-hide-preparation" onclick="hidePreparation()">Esconder</button>
                </div>
                <div id="preparation-mode" class="preparation">
                     {% for instructions in recipe.instructions %}
                        
                     <li>{{instructions}}</li> 
                    {% endfor %}
               
                </div>

                <div class="section__information">
                     <h3>Informações adicionais</h3>
                    <button id="button-hide-info" onclick="hideInformation()">Esconder</button>
                 </div>   
                    <div id="information" class="information">
                        <p>{{recipe.information}}</p>
                    </div>
                </div>
            </div>


{% endblock %}
  

